<div class="hero-scene text-white text-center">
  <div class="hero-scene-content">
    <h1>Connxion</h1>
  </div>
</div>


<div class="container mt-5">
  
  <form id="login-form" class="mx-auto" style="max-width: 400px;">
    <div class="mb-3">
      <label for="email" class="form-label">Adresse email</label>
      <input type="email" class="form-control" id="email" placeholder="votre@email.com" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe</label>
      <input type="password" class="form-control" id="password" placeholder="Votre mot de passe" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Se connecter</button>
  </form>
  <p class="text-center mt-3">
  Pas encore inscrit ? <a href="/register" data-link>Créer un compte</a>
</p>

</div>
