
<div class="hero-scene text-center text-white">
    <div class="hero-scene-content">
        <h1>Mon compte</h1>
    </div>
</div>
<div class="container py-5">
  <div class="card shadow-sm p-4">
    <h2 class="mb-3">
      👤 Bonjour, <span id="username" class="text-primary fw-bold">...</span>
    </h2>

    <div id="adminStatus" class="alert alert-info d-none">
      <i class="bi bi-shield-lock"></i> Vous êtes administrateur.
    </div>

    <p class="mb-4">Gérez votre profil ou changez votre mot de passe.</p>
<div class="container">
    <form>
        <div class="mb-3">
            <label for="NomInput" class="form-label">Nom</label>
            <input type="text" class="form-control" id="NomInput" placeholder="Votre nom" value="John" name="Nom"> 
        </div>
        <div class="mb-3">
            <label for="PrenomInput" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="PrenomInput" placeholder="Votre prénom" value="Doe" name="Prenom"> 
        </div>
        <div class="mb-3">
          <label for="EmailInput" class="form-label">Email</label>
          <input type="email" class="form-control" id="EmailInput" placeholder="test@mail.fr" name="Email"> 
        </div>
        
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Modifier vos informations</button>
            <button type="button" class="btn btn-danger">Supprimer mon compte</button>
            <a href="/edit-password" class="btn btn-outline-primary" data-link>
      🔑 Modifier le mot de passe
    </a>
        </div>
    </form>



  </div>
</div>

<script src="js/auth/profile.js"></script>
