

<section class="container py-5">
  <h1 class="text-center mb-4 fw-bold">🎨 Galerie de livres</h1>
  <div class="row g-4">
    <div class="container">
  <div class="text-center">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Ajouter une photo
    </button>
  </div>
</div>

    
<div class="col-6 col-lg-4">
  <div class="image-card text-white">
    <img src="/assets/images/galerie1.jpg" alt="Livre 1" class="galerie-img" />
    
    <div class="titre-image">Titre du livre 1</div>

    <div class="action-image-buttons"data-show="admin">
      <button type="button" class="btn btn-outline-light btn-sm" data-bs-toggle="modal" data-bs-target="#EditionPhotoModal">
        <i class="bi bi-pencil-square"></i>
      </button>
      <button type="button" class="btn btn-outline-light btn-sm" data-bs-toggle="modal" data-bs-target="#DeletePhotoModal">
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>
</div>

    <div class="col-6 col-lg-4">
      <div class="image-card">
        <img src="/assets/images/galerie2.jpg" alt="Livre 2" class="galerie-img">
      </div>
    </div>

    <div class="col-6 col-lg-4">
      <div class="image-card">
        <img src="/assets/images/galerie3.jpg" alt="Livre 3" class="galerie-img">
      </div>
    </div>

    <div class="col-6 col-lg-4">
      <div class="image-card">
        <img src="/assets/images/galerie4.jpg" alt="Livre 4" class="galerie-img">
      </div>
    </div>
     <div class="col-6 col-lg-4">
      <div class="image-card">
        <img src="/assets/images/galerie5.jpg" alt="Livre 4" class="galerie-img">
      </div>
    </div>
     <div class="col-6 col-lg-4">
      <div class="image-card">
        <img src="/assets/images/galerie6.jpg" alt="Livre 4" class="galerie-img">
      </div>
    </div>

    
  </div>
</section>
