<div class="hero-scene text-center text-white">
  <div class="hero-scene-content">
    <h1>📚 Vos réservations</h1>
  </div>
</div>
<div class="container text-center pb-3">
  <a href="/reserver" class="btn btn-primary">Réserver</a>
</div>



<div class="container allreservations text-center">
  <a href="#">
    <span><strong>Titre :</strong> Le Petit Prince</span> | 
    <span><strong>Auteur :</strong> Antoine de Saint-Exupéry</span> | 
    <span><strong>Date :</strong> 15/07/2025</span>
  </a>
  <a href="#">
    <span><strong>Titre :</strong> L'Étranger</span> | 
    <span><strong>Auteur :</strong> Albert Camus</span> | 
    <span><strong>Date :</strong> 18/07/2025</span>
  </a>
</div>
