<div class="hero-scene text-center text-white">
  <div class="hero-scene-content">
    <h1>📚 Ma réservation</h1>
  </div>
</div>
<div class="container py-5">
  <div class="card shadow-sm p-4">


<div class="container">
  <form>
    <!-- Nom -->
    <div class="mb-3">
      <label for="NomInput" class="form-label">Nom</label>
      <input type="text" class="form-control" id="NomInput" placeholder="Votre nom" value="John" name="Nom">
    </div>

    <!-- Prénom -->
    <div class="mb-3">
      <label for="PrenomInput" class="form-label">Prénom</label>
      <input type="text" class="form-control" id="PrenomInput" placeholder="Votre prénom" value="Doe" name="Prenom">
    </div>

    <!-- Email -->
    <div class="mb-3">
      <label for="EmailInput" class="form-label">Email</label>
      <input type="email" class="form-control" id="EmailInput" placeholder="test@mail.fr" name="Email">
    </div>

    <!-- Titre -->
    <div class="mb-3">
      <label for="TitreInput" class="form-label">Titre a réserver</label>
      <input type="text" class="form-control" id="TitreInput" placeholder="Titre du livre" name="Titre">
    </div>

    <!-- Auteur -->
    <div class="mb-3">
      <label for="AuteurInput" class="form-label">Auteur</label>
      <input type="text" class="form-control" id="AuteurInput" placeholder="Nom de l’auteur" name="Auteur">
    </div>

    <!-- Date -->
    <div class="mb-3">
      <label for="DateInput" class="form-label">Date</label>
      <input type="date" class="form-control" id="DateInput" name="Date">
    </div>

    <!-- Boutons -->
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Réserver</button>
      <button type="button" class="btn btn-danger">Annuler</button>
    </div>
  </form>
</div>
